@model X.PagedList.IPagedList<Lab09.Models.AdminUser>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h2 class="py-3">Quản lý tài khoản</h2>

<form action="" method="get" class="form-inline d-flex justify-content-between mb-3">
    <div class="form-group">
        <label class="sr-only">Tìm tên theo loại</label>
        <input class="form-control" name="name" id="keyword" placeholder="Nhập tên tài khoản cần tìm" />
        <button type="submit" class="btn btn-default mr-1"><i class="fas fa-search"></i></button>
    </div>

    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</a>
</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Id) *@
                STT
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Account) *@
                Tài khoản
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.NgayTao) *@
                Ngày tạo
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TrangThai) *@
                Trạng thái
            </th>
            <th>
                Tác vụ
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                    @if(item.TrangThai == 1)
                    {
                        <span class="text-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="text-danger">Đang khóa</span>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-event"><i class="fa-regular fa-pen-to-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-event"><i class="fa-solid fa-circle-info"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"onclick = "return confirm('Bạn có chắc muốn xóa mục này không?');" class="btn btn-danger btn-event"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@Html.PagedListPager(Model, page=>Url.Action("Index", new {page=page}), new X.PagedList.Web.Common.PagedListRenderOptions{
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}
    })